*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: gray;
  font-family: sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
}
img{
  width: 100%;
}
section{
  background-color: white;
  border: 1px solid gray;
  display: none;
  max-width: 95%;
  padding: 10px;
  margin: 0 auto;
  font-size: 15px;
}
button{
  border: none;
  background-color: black;
  color: white;
}
ul{
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
}
li{
  margin: 0 2px;
}
.dis{
  background-color: red;
}
/*botones*/
.vis{
  display: block;
}
.ant{
  position: fixed;
  left: 0;
  top: 50%;
  height: 15vh;
  width: 10vw;
}
.sig{
  position: fixed;
  top: 50%;
  height: 15vh;
  width: 10vw;
  right: 0;
}
/*botones*/
